body {
  font-family: Arial, sans-serif;
  background: url('./images/bg.jpg');
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.contact-form {
  background: #0a709c;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
  width: 600px;
}
h2 {
  margin-bottom: 20px;
}
label {
  display: block;
  margin: 15px 0 5px;
}
input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
textarea {
  resize: vertical;
}
button {
  margin-top: 20px;
  padding: 10px 20px;
  background: #38BDF8;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background: #555;
}

.alumni {
  margin-top: 40px;
  font-size: 36px;
  color: #0c91ca;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
  padding: 40px;
  max-width: 1200px;
  margin: 0 auto;
}

.alumni-card {
  background-color: rgb(10, 84, 129);
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 15px;
  transition: transform 0.3s;
}

.alumni-card:hover {
  transform: scale(1.05);
}

.alumni-photo {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}

.alumni-name {
  margin-top: 10px;
  font-weight: bold;
  font-size: 18px;
}

.alumni-role {
  color: #777;
  font-size: 14px;
}
header {
  text-align: center;
  padding: 5px 5px 5px;
  background-color: #0839699b;
  color: white;
}

.team-members {
  margin-bottom: 10px;
}

section {
  padding: 40px 20px;
}

.batches {
  font-size: 26px;
  margin-bottom: 20px;
  color: #0a709c;
  text-align: center;
}

.member-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 25px;
  max-width: 1100px;
  margin: 0 auto;
}

.member-card {
  background-color: #0a709c;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
  padding: 15px;
  text-align: center;
  transition: transform 0.3s ease;
}

.member-card:hover {
  transform: translateY(-5px);
}

.member-photo {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.member-name {
  margin-top: 10px;
  font-weight: bold;
  font-size: 18px;
}

.member-role {
  font-size: 14px;
  color: #555;
}

.updates-container {
  background-color: #0a709c;
  padding: 25px 30px;
  border-radius: 12px;
  width: 100%;
  max-width: 700px;
  font-size: 18px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.updates-container h2 {
  margin-bottom: 20px;
  font-size: 24px;
}

.event {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.event-title {
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.event-date {
  color: #160101;
  font-size: 14px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.event p {
  margin: 0;
}